RAZORPAY_KEY_ID=rzp_test_SyIHqdwjIp5eNy
RAZORPAY_KEY_SECRET=T0zLRHnVd0PVUaNJfm85tT8e

PORT=3001
NODE_ENV=development


ALLOWED_ORIGINS=http://localhost:5173,http://localhost:5174,https://fitwithsudarshan.com,https://www.fitwithsudarshan.com


GMAIL_USER=Fitwithsudarshanofficial@gmail.com
GMAIL_APP_PASSWORD=lahj hzqp oune qtce
COACH_EMAIL=Fitwithsudarshanofficial@gmail.com
